<div class="paper-list">
  {% assign pubs = site.publications | sort: "date" | reverse %}
  {% for post in pubs %}
    <div class="paper">
      <h3>
        <span class="num"></span>
        <span class="title">
          {{ post.title | escape }}
          {% if post.pdf or post.link or post.arxiv %}
            [
            {% if post.pdf %}<a href="{{ post.pdf | relative_url }}">pdf</a>{% endif %}
            {% if post.arxiv %}{% if post.pdf %} | {% endif %}<a href="{{ post.arxiv }}">arXiv</a>{% endif %}
            {% if post.link %}{% if post.pdf or post.arxiv %} | {% endif %}<a href="{{ post.link }}">link</a>{% endif %}
            ]
          {% endif %}
        </span>
      </h3>

      <div class="meta">
        {% if post.authors %}{{ post.authors }}{% endif %}
        {% if post.venue %} <em>{{ post.venue }}</em>{% endif %}
        {% if post.issue %} {{ post.issue }}{% endif %}
        {% if post.status %} ({{ post.status }}){% endif %}
      </div>

      {% if post.excerpt %}
        <div class="excerpt"><em>{{ post.excerpt }}</em></div>
      {% endif %}

      {% if post.abstract %}
        <ul>
          <li>{{ post.abstract }}</li>
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
